@layer base, utilities, presentation, scroll-timeline, fallback;

@layer presentation {
    :root {
        --font-size-quote: 2rem;
        --width-quote-container: 65vw;
    }

    .quote-section {
        position: relative;
        height: 100vh;
    }

    .quote-spacer {
        height: 33vh;
    }

    .quote-container {
        width: var(--width-quote-container);
        border: var(--border-width-quote-container) solid var(--color-border);
        background-color: oklch(from var(--color-border) calc(l + 0.4) c h);
        font-size: var(--font-size-quote);

        position: fixed;
        left: 50vw;
        top: 50vh;
        transform: translate(-50%, -50%);

        opacity: 0;

        will-change: transform, opacity;

        p {
            text-align: end;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 40px;
            margin-inline-end: 40px;
        }
    }

    @media (max-width: 800px) {
        :root {
            --width-quote-container: 80vw;
            --font-size-quote: 1.5rem;
        }
    }

    @media (max-width: 576px) {
        :root {
            --width-quote-container: 85vw;
            --font-size-quote: 1.5rem;
        }
    }

    @media (max-width: 375px) {
        :root {
            --width-quote-container: 95vw;
            --font-size-quote: 1.2rem;
        }

        blockquote {
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
            margin-inline-start: 20px;
            margin-inline-end: 20px;
        }
    }
}

@layer scroll-timeline {
    @supports (animation-timeline: scroll()) {

        @keyframes slide-right-out {
            0% {
                transform: translate(calc(-100vw - 50%), -50%);
                opacity: 0;
            }
            25% {
                transform: translate(-50%, -50%);
                opacity: 1;
            }
            75% {
                transform: translate(-50%, -50%);
                opacity: 1;
            }
            100% {
                transform: translate(calc(100vw - 50%), -50%);
                opacity: 0;
            }
        }

        .quote-container {
            animation-name: slide-right-out;
            animation-timeline: scroll(root block);
            animation-duration: auto;
            animation-fill-mode: both;
            animation-range-start: calc(var(--i) * 100vh + 25vh);
            animation-range-end: calc(var(--i) * 100vh + 125vh);
        }

        .quote-section {
            animation-name: slide-right-out;
            animation-range-start: calc(var(--i) * 100vh + 25vh);
            animation-range-end: calc(var(--i) * 100vh + 125vh);
        }
    }
}

@layer fallback {
    /* This will only apply when scroll-driven animations are NOT supported */
    @supports not (animation-timeline: scroll()) {

        .quote-section {
            position: relative;
            height: auto;
            margin-bottom: 4rem;
        }

        .quote-spacer {
            display: none;
        }

        .quote-container {
            position: relative;
            top: auto;
            left: auto;
            opacity: 1;
            margin: 0 auto;
            transform: none;
            display: block;
            width: var(--width-quote-container);
        }
    }
}