@layer base, utilities, presentation, scroll-timeline, fallback;

@layer presentation {
    :root {
        /*---- Header ------*/
        --height-header: 5rem;
        --font-size-header: min(4.5vw, 2.5rem);
        --font-size-header-jumbo: 4rem;

        /*---- Footer ------*/
        --height-footer: 5rem;
        --size-home-icon: 5rem;

        /*---- Quotes ------*/
        --border-width-quote-container: 5px;
        --font-size-quote: min(3vh, 3vw);
        --width-quote-container: 65vw;
        --subheader-indent: 15vw;
        --subheader-font-size: clamp(1rem, 4.5vw, 3.5rem);
        --quote-padding: calc(var(--spacing) * 1);
    }

    @media (max-width: 800px) {
        :root {
            /*---- Header ------*/
            --font-size-header-jumbo: 3rem;

            /*---- Footer ------*/
            --height-footer: 5rem;
            --size-home-icon: 5rem;

            /*---- Quotes ------*/
            --font-size-quote: min(4vh, 4vw);
            --width-quote-container: 80vw;
            --subheader-indent: 10vw;
        }
    }

    @media (max-width: 576px) {
        :root {
            /*---- Header ------*/
            --font-size-header-jumbo: 2rem;

            /*---- Footer ------*/
            --height-footer: 6rem;
            --size-home-icon: 4rem;

            /*---- Quotes ------*/
            --font-size-quote: min(4vh, 4vw);
            --width-quote-container: 85vw;
            --subheader-indent: 5vw;
        }
    }

    @media (max-width: 475px) {
        :root {
            /*---- Header ------*/
            --font-size-header-jumbo: 2rem;

            /*---- Footer ------*/
            --height-footer: 6rem;
            --size-home-icon: 4rem;

            /*---- Quotes ------*/
            --font-size-quote: min(4vh, 4vw);
            --width-quote-container: 85vw;
            --subheader-indent: 4vw;
        }
    }

    @media (max-width: 375px) {
        :root {
            /*---- Header ------*/
            --font-size-header-jumbo: 1.5rem;

            /*---- Footer ------*/
            --height-footer: 6rem;
            --size-home-icon: 4rem;

            /*---- Quotes ------*/
            --font-size-quote: min(4vh, 4vw);
            --width-quote-container: 95vw;
            --subheader-indent: 3vw;
        }
    }

    /*---- Header ------*/
    .heading {
        font-family: var(--font-display), serif;
        font-weight: 900;
    }

    .header {
        width: max-content;
        height: var(--height-header);
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none; /* Allow clicking through to content if needed */
        z-index: 20;
        padding: calc(var(--spacing) * 4);
        display: flex;
        align-items: center;
    }

    .landing-cta-container {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: calc(var(--spacing) * 4);
        height: var(--height-header);
        z-index: 20;
    }

    .header-spacer {
        height: 100vh;
    }

    /*---- Footer ------*/
    .home-container {
        position: fixed;
        bottom: 0;
        left: 0;
        height: var(--height-footer);
        width: var(--size-home-icon);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-tertiary);
        padding: calc(var(--spacing) * 4);
    }

    .home-icon {
        height: calc(var(--size-home-icon) - var(--spacing));
        width: calc(var(--size-home-icon)- var(--spacing));
        color: var(--color-white);
    }

    .footer,
    .progress {
        position: fixed;
        bottom: 0;
        left: var(--size-home-icon);
        right: 0;
        height: var(--height-footer);
        background-color: var(--color-tertiary-800);
    }

    .progress {
        background-color: var(--color-tertiary);
        transform-origin: 0 50%;
    }

    /*------ Quotes -------*/
    .quote-section {
        position: relative;
        height: 100vh;
    }

    .quote-spacer {
        height: 33vh;
    }

    .quote-container, .intro-quote-container {
        width: var(--width-quote-container);
        border: var(--border-width-quote-container) solid var(--color-border);
        background-color: oklch(from var(--color-border) calc(l + 0.4) c h);
        font-size: var(--font-size-quote);

        padding: var(--quote-padding);

        position: fixed;
        left: 50vw;
        top: 50vh;
        transform: translate(-50%, -50%);

        opacity: 0;

        will-change: transform, opacity;

        blockquote, p {
            margin-block-start: min(1vh, 1vw);
            margin-block-end: min(1vh, 1vw);
            margin-inline-start: min(1vh, 1vw);
            margin-inline-end: min(1vh, 1vw);

            line-height: calc(var(--font-size-quote) + 1vh);
        }

        p {
            text-align: end;
        }
    }

    .intro-quote-container {
        border: var(--border-width-quote-container) solid oklch(from var(--color-primary) calc(l - 0.15) c h);
        background-color: var(--color-primary);
        color: var(--color-background);
    }

    .subheader-container {
        position: fixed;
        left: var(--subheader-indent);
        top: calc(var(--height-header) + 5vh);
        display: flex;
    }

    .subheader-a, .subheader-b {
        white-space: pre;
        font-family: var(--font-display), serif;
        font-weight: 700;
        font-size: min(5vh, var(--subheader-font-size));
    }

    .subheader-b {
        color: var(--color-secondary-500)
    }

    @media (prefers-color-scheme: dark) {
        .subheader-b {
            color: var(--color-secondary-300)
        }
    }

    /*---- Citation ------*/
    .citation-container {
        position: fixed;
        bottom: 0;
        left: var(--size-home-icon);
        right: 0;
        height: var(--height-footer);
        background-color: transparent;
        will-change: transform;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    .citation {
        text-align: center;
        font-size: min(4vw, 1rem);
        color: var(--color-white);
        text-decoration: none;

        &a:hover {
            color: var(--color-secondary-200)
        }
    }
}

@layer scroll-timeline {
    @supports (animation-timeline: scroll()) {
        /*Hide fallback elements*/
        .fallback-header,
        .fallback-cta-container,
        .fallback-header-spacer,
        .fallback-home-container,
        .fallback-footer {
            display: none;
        }

        /*---- Header ------*/
        @keyframes move-header {
            0% {
                font-size: var(--font-size-header-jumbo);
                left: 50vw;
                top: calc(50vh - var(--height-footer));
                transform: translate(-50%, -50%);
            }
            100% {
                font-size: var(--font-size-header);
                left: 0;
                top: 0;
                transform: translateX(0) translateY(0);
            }
        }

        .header {
            animation-timeline: scroll(root block);
            animation-range: 0 50vh;
            animation-duration: auto;
            animation-fill-mode: both;
            animation-name: move-header;
        }

        /*---- Footer ------*/
        @keyframes grow-progress {
            from {
                transform: scaleX(0);
            }
            to {
                transform: scaleX(1);
            }
        }

        .progress {
            animation-name: grow-progress;
            animation-duration: auto;
            animation-timing-function: linear;
            animation-timeline: scroll(root block);
        }

        /*---- Quotes ------*/
        @keyframes centered-slide-left-right {
            0% {
                transform: translate(calc(-100vw - 50%), -50%);
                opacity: 0;
            }
            25% {
                transform: translate(-50%, -50%);
                opacity: 1;
            }
            75% {
                transform: translate(-50%, -50%);
                opacity: 1;
            }
            100% {
                transform: translate(calc(100vw - 50%), -50%);
                opacity: 0;
            }
        }

        @keyframes slide-left-right {
            0% {
                transform: translateX(calc(-100vw - 50%));
                opacity: 0;
            }
            25% {
                transform: translateX(0);
                opacity: 1;
            }
            75% {
                transform: translateX(0);
                opacity: 1;
            }
            100% {
                transform: translateX(calc(100vw - 50%));
                opacity: 0;
            }
        }

        @keyframes slide-right-left {
            0% {
                transform: translateX(calc(100vw - 50%));
                opacity: 0;
            }
            25% {
                transform: translateX(0);
                opacity: 1;
            }
            75% {
                transform: translateX(0);
                opacity: 1;
            }
            100% {
                transform: translateX(calc(-100vw - 50%));
                opacity: 0;
            }
        }

        .subheader-a-container {
            animation-name: slide-left-right;
            animation-timeline: scroll(root block);
            animation-duration: auto;
            animation-fill-mode: both;
            animation-range-start: calc(var(--i) * 100vh + 25vh);
            animation-range-end: calc(var(--i) * 100vh + 125vh);
        }

        .subheader-b-container {
            animation-name: slide-right-left;
            animation-timeline: scroll(root block);
            animation-duration: auto;
            animation-fill-mode: both;
            animation-range-start: calc(var(--i) * 100vh + 25vh);
            animation-range-end: calc(var(--i) * 100vh + 125vh);
        }

        .quote-container, .intro-quote-container {
            animation-name: centered-slide-left-right;
            animation-timeline: scroll(root block);
            animation-duration: auto;
            animation-fill-mode: both;
            animation-range-start: calc(var(--i) * 100vh + 25vh);
            animation-range-end: calc(var(--i) * 100vh + 125vh);
        }

        .quote-section {
            animation-name: centered-slide-left-right;
            animation-range-start: calc(var(--i) * 100vh + 25vh);
            animation-range-end: calc(var(--i) * 100vh + 125vh);
        }

        /*---- Citation ------*/
        @keyframes hidden-slide-right-left {
            0% {
                visibility: hidden;
                transform: translateX(calc(100vw - 50%));
                opacity: 0;
            }
            25% {
                visibility: visible;
                transform: translateX(0);
                opacity: 1;
            }
            75% {
                visibility: visible;
                transform: translateX(0);
                opacity: 1;
            }
            100% {
                visibility: hidden;
                transform: translateX(calc(-100vw - 50%));
                opacity: 0;
            }
        }

        .citation-container {
            animation-name: hidden-slide-right-left;
            animation-timeline: scroll(root block);
            animation-duration: auto;
            animation-fill-mode: both;
            animation-range-start: calc(var(--i) * 100vh + 25vh);
            animation-range-end: calc(var(--i) * 100vh + 125vh);
        }

        .citation-section {
            animation-name: slide-right-left;
            animation-range-start: calc(var(--i) * 100vh + 25vh);
            animation-range-end: calc(var(--i) * 100vh + 125vh);
        }
    }
}

@layer fallback {
    /* This will only apply when scroll-driven animations are NOT supported */
    @supports not (animation-timeline: scroll()) {
        /* Hide scroll-timeline elements */
        .header,
        .landing-cta-container,
        .header-spacer,
        .footer,
        .progress,
        .quote-spacer,
        .subheader-container,
        .citation-section {
            display: none;
        }

        /*---- Header ------*/
        .fallback-header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 20;
            padding: calc(var(--spacing) * 4);
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: var(--font-size-header);
        }

        .fallback-header-spacer {
            height: var(--height-header);
            padding-bottom: 5rem;
        }

        .fallback-cta-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: calc(var(--spacing) * 4);
        }

        /*---- Footer ------*/
        .fallback-home-container {
            height: var(--height-footer);
            width: var(--height-footer);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .fallback-footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: var(--height-footer);
            background: var(--color-tertiary);
            display: flex;
        }

        /*------ Quotes -------*/
        .quote-section {
            position: relative;
            height: auto;
            margin-bottom: 4rem;
        }

        .quote-container, .intro-quote-container {
            position: relative;
            top: auto;
            left: auto;
            opacity: 1;
            margin: 0 auto;
            transform: none;
            display: block;
            width: var(--width-quote-container);
        }

        .intro-quote-container {
            margin-top: 4rem;
        }

        .quote-section:last-child {
            margin-bottom: 8rem;
        }

        /*---- Citation ------*/
    }
}