.cta-container {
    --size: min(calc(100vh - (var(--header-height))), 100vw);
    position: relative;
    aspect-ratio: 1 / 1;
    height: var(--size);
    width: var(--size);
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    margin-top: -1vh;
}

.header-container {
    --size: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    margin-top: min(3vh, 3vw);

    .heading {
        font-family: var(--font-display), serif;
        text-align: center;
        font-weight: bold;
        font-size: min(clamp(20px, 4.5vw, 75px), clamp(20px, 4.5vh, 75px));
    }
}

.cta-position {
    --size: 30%;
    --radius: 110%;
    --step: 72deg;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;

    text-shadow: 0 0 1px rgba(0, 0, 0, 1), 0 0 2px rgba(0, 0, 0, 0.75), 0 0 3px rgba(0, 0, 0, 0.50);

    transform:
            translate(-50%, -50%) /* Moves to dead center */
            rotate(calc(var(--i) * var(--step) + 54deg)) /* Rotate orientation */
            translate(var(--radius)) /* Move outwards from center along orientation */
            rotate(calc((var(--i) * var(--step) + 54deg) * -1 )); /* Restore original orientation */

    &:hover {
        transform:
                translate(-50%, -50%)
                rotate(calc(var(--i) * var(--step) + 54deg))
                translate(var(--radius))
                rotate(calc((var(--i) * var(--step) + 54deg) * -1 ))
                translateY(-5px);
    }
}

.cta-position::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 135%;
    height: 135%;
    transform: translate(-50%, -35%);

    background-image: url('/flower-stippled-coloured-light.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    z-index: -1;
    pointer-events: none;
}

@media (prefers-color-scheme: dark) {
    .cta-position::before {
        background-image: url('/flower-stippled-coloured-dark.svg');
    }
}

@supports (width: calc(1px * sibling-index())) {
    .cta-position {
        --i: sibling-index();
        --count: sibling-count()
    }
}

@supports not (width: calc(1px * sibling-index())) {
    /* Fallback: fixed indices for 6 circles */
    .cta-position:nth-child(1) {
        --i: 1;
    }

    .cta-position:nth-child(2) {
        --i: 2;
    }

    .cta-position:nth-child(3) {
        --i: 3;
    }

    .cta-position:nth-child(4) {
        --i: 4;
    }

    .cta-position:nth-child(5) {
        --i: 5;
    }

    .cta-position:nth-child(6) {
        --i: 6;
    }

    .dot {
        --count: 6;
    }
}