.cta-container {
    --size: min(calc(100vh - (var(--header-height))), 100vw);
    position: relative;
    aspect-ratio: 1 / 1;
    height: var(--size);
    width: var(--size);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.header-container {
    --size: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    .heading {
        font-family: var(--font-display), serif;
        text-align: center;
        font-weight: bold;
        font-size: clamp(20px, 4.5vw, 75px);
    }
}

.cta-position {
    --size: 30%;
    --radius: 110%;
    --step: 72deg;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;

    transform:
            translate(-50%, -50%) /* Moves to dead center */
            rotate(calc(var(--i) * var(--step) + 19deg)) /* Rotate orientation */
            translate(var(--radius)) /* Move outwards from center along orientation */
            rotate(calc((var(--i) * var(--step) + 19deg) * -1 )); /* Restore original orientation */
}

@supports (width: calc(1px * sibling-index())) {
    .cta-position {
        --i: sibling-index();
        --count: sibling-count()
    }
}

@supports not (width: calc(1px * sibling-index())) {
    /* Fallback: fixed indices for 6 circles */
    .cta-position:nth-child(1) {
        --i: 1;
    }

    .cta-position:nth-child(2) {
        --i: 2;
    }

    .cta-position:nth-child(3) {
        --i: 3;
    }

    .cta-position:nth-child(4) {
        --i: 4;
    }

    .cta-position:nth-child(5) {
        --i: 5;
    }

    .cta-position:nth-child(6) {
        --i: 6;
    }

    .dot {
        --count: 6;
    }
}