@import 'tailwindcss';

@plugin "@iconify/tailwind4";
@plugin "@tailwindcss/typography";

:root {
    --background: oklch(1.00 0 0);
    --foreground: oklch(0.14 0 0);
    --card: oklch(0.99 0.02 196.73);
    --card-foreground: oklch(0.20 0.03 223.35);
    --popover: oklch(0.99 0.02 196.73);
    --popover-foreground: oklch(0.20 0.03 223.35);
    --primary-50: oklch(0.961 0.034 149.28);
    --primary-100: oklch(0.923 0.074 148.99);
    --primary-200: oklch(0.849 0.116 149.16);
    --primary-300: oklch(0.781 0.107 148.93);
    --primary: oklch(0.781 0.107 148.93);
    --primary-400: oklch(0.687 0.095 148.79);
    --primary-500: oklch(0.594 0.081 149.23);
    --primary-600: oklch(0.502 0.069 148.95);
    --primary-700: oklch(0.417 0.057 149.31);
    --primary-800: oklch(0.323 0.044 148.92);
    --primary-900: oklch(0.23 0.031 149.73);
    --primary-950: oklch(0.174 0.022 149.93);
    --primary-foreground: oklch(0.14 0 0);
    --secondary-50: oklch(0.957 0.009 45);
    --secondary-100: oklch(0.924 0.015 48.6);
    --secondary-200: oklch(0.838 0.037 53.65);
    --secondary-300: oklch(0.763 0.058 55.36);
    --secondary: oklch(0.763 0.058 55.36);
    --secondary-400: oklch(0.676 0.052 54.54);
    --secondary-500: oklch(0.581 0.044 54.38);
    --secondary-600: oklch(0.494 0.038 54.75);
    --secondary-700: oklch(0.406 0.031 53.04);
    --secondary-800: oklch(0.321 0.024 56.39);
    --secondary-900: oklch(0.225 0.017 58.63);
    --secondary-950: oklch(0.179 0.014 61.53);
    --secondary-foreground: oklch(1.00 0 0);
    --tertiary-50: oklch(0.966 0.008 224.96);
    --tertiary-100: oklch(0.921 0.02 225.68);
    --tertiary-200: oklch(0.841 0.042 226.36);
    --tertiary-300: oklch(0.763 0.046 223.91);
    --tertiary-400: oklch(0.686 0.042 225.63);
    --tertiary-500: oklch(0.609 0.037 225.86);
    --tertiary-600: oklch(0.533 0.032 222.72);
    --tertiary-700: oklch(0.458 0.028 224.22);
    --tertiary: oklch(0.458 0.028 224.22);
    --tertiary-800: oklch(0.353 0.021 220.17);
    --tertiary-900: oklch(0.24 0.014 220.14);
    --tertiary-950: oklch(0.186 0.011 229.69);
    --tertiary-foreground: oklch(1.00 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.47 0 0);
    --accent: oklch(0.923 0.074 148.99);
    --accent-foreground: oklch(0.20 0 0);
    --destructive: oklch(0.58 0.24 28.48);
    --border: oklch(0.921 0.02 225.68 / 90%);
    --input: oklch(0.921 0.02 225.68 / 70%);
    --ring: oklch(0.458 0.028 224.22);
    --chart-1: oklch(0.65 0.22 36.85);
    --chart-2: oklch(0.60 0.11 184.15);
    --chart-3: oklch(0.40 0.07 227.18);
    --chart-4: oklch(0.83 0.17 81.03);
    --chart-5: oklch(0.77 0.17 65.36);
    --sidebar: oklch(0.99 0 0);
    --sidebar-foreground: oklch(0.14 0 0);
    --sidebar-primary: oklch(0.20 0 0);
    --sidebar-primary-foreground: oklch(0.99 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.20 0 0);
    --sidebar-border: oklch(0.92 0 0);
    --sidebar-ring: oklch(0.708 0 0);;

    --font-sans: sans-serif;
    --font-display: Atma, sans-serif;
    --font-serif: serif;
    --font-mono: monospace;

    --radius: 1rem;

    --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
    --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
    --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
    --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);

    --spacing: 0.3rem;
    --header-height: 100px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: oklch(0.14 0 0);
        --foreground: oklch(0.99 0 0);
        --card: oklch(0.186 0.011 229.69);
        --card-foreground: oklch(0.99 0.02 196.74);
        --popover: oklch(0.186 0.011 229.69);
        --popover-foreground: oklch(0.99 0.02 196.74);
        --primary-50: oklch(0.961 0.038 150);
        --primary-100: oklch(0.931 0.07 149.95);
        --primary-200: oklch(0.858 0.13 148.95);
        --primary-300: oklch(0.796 0.12 149.14);
        --primary: oklch(0.73 0.11 148.93);
        --primary-400: oklch(0.73 0.11 148.93);
        --primary-500: oklch(0.627 0.094 148.64);
        --primary-600: oklch(0.534 0.08 149.06);
        --primary-700: oklch(0.431 0.065 148.5);
        --primary-800: oklch(0.331 0.051 148.93);
        --primary-900: oklch(0.236 0.035 148.78);
        --primary-950: oklch(0.184 0.028 150.4);
        --primary-foreground: oklch(0.20 0 0);
        --secondary: oklch(0.71 0.06 54.54);
        --secondary-50: oklch(0.965 0.007 39.62);
        --secondary-100: oklch(0.923 0.016 52.59);
        --secondary-200: oklch(0.856 0.034 51.2);
        --secondary-300: oklch(0.781 0.061 55);
        --secondary-400: oklch(0.71 0.06 54.54);
        --secondary-500: oklch(0.616 0.052 55.23);
        --secondary-600: oklch(0.522 0.044 55.22);
        --secondary-700: oklch(0.424 0.036 53.26);
        --secondary-800: oklch(0.331 0.028 55.24);
        --secondary-900: oklch(0.232 0.019 52.44);
        --secondary-950: oklch(0.178 0.016 47.81);
        --secondary-foreground: oklch(0.20 0 0);
        --tertiary-50: oklch(0.956 0.011 225.89);
        --tertiary-100: oklch(0.921 0.02 225.68);
        --tertiary-200: oklch(0.843 0.042 224.02);
        --tertiary-300: oklch(0.763 0.047 225.45);
        --tertiary-400: oklch(0.686 0.042 225.63);
        --tertiary-500: oklch(0.609 0.038 225.05);
        --tertiary-600: oklch(0.532 0.033 224.26);
        --tertiary: oklch(0.453 0.028 224.22);
        --tertiary-700: oklch(0.454 0.028 224.23);
        --tertiary-800: oklch(0.353 0.021 220.17);
        --tertiary-900: oklch(0.241 0.015 226.79);
        --tertiary-950: oklch(0.186 0.011 229.69);
        --tertiary-foreground: oklch(0.99 0 0);
        --muted: oklch(0.27 0 0);
        --muted-foreground: oklch(0.71 0 0);
        --accent: oklch(0.184 0.028 150.4);
        --accent-foreground: oklch(0.99 0 0);
        --destructive: oklch(0.70 0.19 22.23);
        --border: oklch(0.353 0.021 220.17 / 50%);
        --input: oklch(0.353 0.021 220.17 / 65%);
        --ring: oklch(0.353 0.021 220.17);
        --chart-1: oklch(0.49 0.24 264.40);
        --chart-2: oklch(0.70 0.16 160.43);
        --chart-3: oklch(0.77 0.17 65.36);
        --chart-4: oklch(0.62 0.26 305.32);
        --chart-5: oklch(0.64 0.25 16.51);
        --sidebar: oklch(0.20 0 0);
        --sidebar-foreground: oklch(0.99 0 0);
        --sidebar-primary: oklch(0.49 0.24 264.40);
        --sidebar-primary-foreground: oklch(0.99 0 0);
        --sidebar-accent: oklch(0.27 0 0);
        --sidebar-accent-foreground: oklch(0.99 0 0);
        --sidebar-border: oklch(1.00 0 0 / 10%);
        --sidebar-ring: oklch(0.56 0 0);

        --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
        --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
        --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
        --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
        --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
        --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
        --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
        --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary-50: var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary: var(--primary);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);
    --color-primary-950: var(--primary-950);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary-50: var(--secondary-50);
    --color-secondary-100: var(--secondary-100);
    --color-secondary-200: var(--secondary-200);
    --color-secondary-300: var(--secondary-300);
    --color-secondary: var(--secondary);
    --color-secondary-400: var(--secondary-400);
    --color-secondary-500: var(--secondary-500);
    --color-secondary-600: var(--secondary-600);
    --color-secondary-700: var(--secondary-700);
    --color-secondary-800: var(--secondary-800);
    --color-secondary-900: var(--secondary-900);
    --color-secondary-950: var(--secondary-950);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-tertiary-50: var(--tertiary-50);
    --color-tertiary-100: var(--tertiary-100);
    --color-tertiary-200: var(--tertiary-200);
    --color-tertiary-300: var(--tertiary-300);
    --color-tertiary-400: var(--tertiary-400);
    --color-tertiary-500: var(--tertiary-500);
    --color-tertiary-600: var(--tertiary-600);
    --color-tertiary: var(--tertiary);
    --color-tertiary-700: var(--tertiary-700);
    --color-tertiary-800: var(--tertiary-800);
    --color-tertiary-900: var(--tertiary-900);
    --color-tertiary-950: var(--tertiary-950);
    --color-tertiary-foreground: var(--tertiary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-display: var(--font-display);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

html {
    @apply scroll-smooth;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), sans-serif;
}

/* Override text utilities to use different fonts per size */
.text-xs,
.text-sm,
.text-md,
.text-base {
    font-family: var(--font-sans), sans-serif;
}

.text-lg,
.text-xl,
.text-2xl,
.text-3xl,
.text-4xl,
.text-5xl,
.text-6xl,
.text-7xl,
.text-8xl,
.text-9xl {
    font-family: var(--font-display), sans-serif;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}