html {
    overscroll-behavior: none;
}

.body {
    --background: oklch(1.00 0 0);
    --error-border: #F05252;
    --error-background: #FDF2F2;
    --button-background: oklch(0.609 0.037 225.86);
    --button-background-hover: oklch(0.686 0.042 225.63);
    --color-focus: oklch(0.676 0.052 54.54);
    color: oklch(0.14 0 0);
    background: var(--background);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: clamp(300px, 75vw, 700px);
    height: fit-content;
}

.heading {
    text-align: center;
}

.error-container {
    padding: 1rem;
    background: var(--error-background);
    border: 1px solid var(--error-border);
    font-family: ui-monospace, monospace;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: var(--background);
}

.button {
    color: var(--background);
    padding: 1rem;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background: var(--button-background);
    cursor: pointer;
    transition: background-color 0.25s ease;
    text-decoration: none;
}

.button:hover {
    background-color: var(--button-background-hover);
    outline: 1px solid var(--button-background);
}

.button:visited {
    color: inherit;
}

:focus-visible {
    outline: 3px dashed var(--color-focus);
    outline-offset: 2px;
}

@media (prefers-color-scheme: dark) {
    .body {
        --background: oklch(0.14 0 0);
        --error-border: #E02424;
        --error-background: #9B1C1C80;
        --button-background: oklch(0.686 0.042 225.63);
        --button-background-hover: oklch(0.763 0.047 225.45);
        --color-focus: oklch(0.71 0.06 54.54);
        color: oklch(0.99 0 0);
        background: var(--background);
    }
}