@layer base, utilities, presentation, scroll-timeline, fallback;

@layer presentation {
    :root {
        --font-body: "Atma", system-ui;
        --color-background: oklch(from #b4c5e4 calc(l + 0.15) c h);
        --color-text: #240115;
        --height-header-sm: 5rem;
        --height-content: calc(100vh - var(--height-header-sm));
        --footer-height: 5rem;
        --border-width-quote-container: 5px;
        --width-quote-container: 50vw;
        --font-size-header: 2.5rem;
        --font-size-header-jumbo: 4rem;
        --font-size-its: 3rem;
        --font-size-quote: 2rem;
        --padding-left: 4rem;
        --top-quote-container: calc(
                var(--height-header-sm) + clamp(8rem, 5vw, 20rem)
        );
        --animation-range-1: 125vh 225vh;
        --animation-range-2: 225vh 325vh;
        --animation-range-3: 325vh 425vh;
        --animation-range-4: 425vh 525vh;
        --animation-range-5: 525vh 625vh;
        --animation-range-6: 625vh 725vh;
    }

    .heading {
        font-family: var(--font-display), serif;
        font-weight: 900;
    }

    .header {
        width: max-content;
        height: var(--height-header-sm);
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none; /* Allow clicking through to content if needed */
        z-index: 20;
        padding: calc(var(--spacing) * 4);
        display: flex;
        align-items: center;
    }

    .header-spacer {
        height: 100vh;
    }

    .home-container {
        position: fixed;
        bottom: 0;
        left: 0;
        height: var(--footer-height);
        width: var(--footer-height);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary);
        padding: calc(var(--spacing) * 4);
    }

    .home-icon {
        height: calc(var(--footer-height)/2);
        width: calc(var(--footer-height)/2);
    }

    .cta-container {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: calc(var(--spacing) * 4);
    }

    .footer,
    .progress {
        position: fixed;
        bottom: 0;
        left: var(--footer-height);
        right: 0;
        height: var(--footer-height);
        background-color: oklch(from var(--color-primary) l c h / 0.5);
    }

    .progress {
        background: oklch(from var(--color-primary) l c h / 0.5);
        transform-origin: 0 50%;
    }

    .citation {
        text-align: center;
        font-size: clamp(0.6rem, 5vh, 1rem);
        color: var(--color-text);
        text-decoration: none;

        &:hover {
            color: oklch(from var(--color-text) calc(l + 0.2) c h);
        }
    }

    .citation::after {
        content: " ↗";
    }

    .quote-section {
        position: relative;
        height: 100vh;
    }

    .quote-spacer {
        height: 33vh;
    }

    .quote-container,
    .opening-quote-container {
        width: var(--width-quote-container);
        border: var(--border-width-quote-container) solid var(--color-border);
        background-color: oklch(from var(--color-border) calc(l + 0.4) c h);
        font-size: var(--font-size-quote);

        position: fixed;
        top: var(--top-quote-container);
        left: 50%;

        opacity: 0;

        will-change: transform, opacity;

        p {
            text-align: end;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 40px;
            margin-inline-end: 40px;
        }
    }

    .citation-container {
        width: var(--width-quote-container);
        position: fixed;
        left: 50%;
        bottom: 0;
        will-change: transform;
        height: var(--footer-height);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .opening-quote-container {
        border: var(--border-width-quote-container) solid oklch(from var(--color-primary) calc(l - 0.15) c h);
        background-color: var(--color-primary);
        color: var(--color-background);
    }

    .its-section {
        position: relative;
        height: 50vh;
    }

    .its-spacer {
        height: 25vh;
    }

    .its-container {
        padding-left: var(--padding-left);

        position: fixed;
        top: var(--height-header-sm);
        left: 0;

        will-change: transform, opacity;

        h3 {
            font-size: var(--font-size-its);
        }
    }

    .its-noun-container {
        margin-left: calc(var(--padding-left) + (var(--font-size-its) * 1.75));

        position: fixed;
        top: var(--height-header-sm);
        left: 0;

        h3 {
            font-size: var(--font-size-its);
        }
    }

    .its-noun {
        color: var(--color-primary);
    }

    @media (max-width: 800px) {
        :root {
            --width-quote-container: 75vw;
            --footer-height: 4rem;
            --font-size-header: 2.5rem;
            --font-size-header-jumbo: 3rem;
            --font-size-its: 2rem;
            --font-size-quote: 1.5rem;
            --padding-left: 1rem;
        }
    }

    @media (max-width: 576px) {
        :root {
            --width-quote-container: 75vw;
            --footer-height: 3rem;
            --font-size-header: 1.5rem;
            --font-size-header-jumbo: 2rem;
            --font-size-its: 2rem;
            --font-size-quote: 1.5rem;
            --padding-left: 1rem;
        }
    }

    @media (max-width: 375px) {
        :root {
            --width-quote-container: 80vw;
            --footer-height: 3.5rem;
            --font-size-header: 1rem;
            --font-size-header-jumbo: 1.5rem;
            --font-size-its: 1.5rem;
            --font-size-quote: 1.2rem;
            --padding-left: 1rem;
        }

        blockquote {
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
            margin-inline-start: 20px;
            margin-inline-end: 20px;
        }
    }
}

@layer scroll-timeline {
    @supports (animation-timeline: scroll()) {
        /*Hide fallback elements*/
        .fallback-its-container,
        .fallback-header-spacer,
        .fallback-home-container,
        .fallback-footer,
        .fallback-header,
        .fallback-cta-container {
            display: none;
        }

        @keyframes move-header {
            0% {
                font-size: var(--font-size-header-jumbo);
                left: 50vw;
                top: calc(50vh - var(--footer-height));
                transform: translate(-50%, -50%);
            }
            100% {
                font-size: var(--font-size-header);
                left: 0;
                top: 0;
                transform: translateX(0) translateY(0);
            }
        }

        .header {
            animation-timeline: scroll(root block);
            animation-range: 0 50vh;
            animation-duration: auto;
            animation-fill-mode: both;
            animation-name: move-header;
        }

        @keyframes grow-progress {
            from {
                transform: scaleX(0);
            }
            to {
                transform: scaleX(1);
            }
        }

        .progress {
            animation-name: grow-progress;
            animation-duration: auto;
            animation-timing-function: linear;
            animation-timeline: scroll(root block);
        }

        @keyframes slide-right-out {
            0% {
                transform: translateX(
                        calc(-100vw - (var(--width-quote-container) / 2))
                );
                opacity: 0;
            }
            25% {
                transform: translateX(
                        calc(
                                0vw - var(--border-width-quote-container) -
                                (var(--width-quote-container) / 2)
                        )
                );
                opacity: 1;
            }
            75% {
                transform: translateX(
                        calc(
                                0vw - var(--border-width-quote-container) -
                                (var(--width-quote-container) / 2)
                        )
                );
                opacity: 1;
            }
            100% {
                transform: translateX(100vw);
                opacity: 0;
            }
        }

        .opening-quote-container {
            animation-name: slide-right-out;
            animation-timeline: scroll(root block);
            animation-range: 25vh 125vh;
            animation-duration: auto;
            animation-fill-mode: both;
        }

        .quote-container {
            animation-name: slide-right-out;
            animation-timeline: scroll(root block);
            animation-duration: auto;
            animation-fill-mode: both;
        }

        .quote-section .first {
            animation-name: slide-right-out;
            animation-range: var(--animation-range-1);
        }

        .quote-section .second {
            animation-name: slide-right-out;
            animation-range: var(--animation-range-2);
        }

        .quote-section .third {
            animation-name: slide-right-out;
            animation-range: var(--animation-range-3);
        }

        .quote-section .fourth {
            animation-name: slide-right-out;
            animation-range: var(--animation-range-4);
        }

        .quote-section .fifth {
            animation-name: slide-right-out;
            animation-range: var(--animation-range-5);
        }

        .quote-section .sixth {
            animation-name: slide-right-out;
            animation-range: var(--animation-range-6);
        }

        @keyframes slide-up {
            0% {
                transform: translateY(100vh);
                opacity: 100;
            }
            4% {
                transform: translateY(0);
                opacity: 100;
            }
            95% {
                transform: translateY(0);
                opacity: 100;
            }
            100% {
                transform: translateY(0);
                opacity: 0;
            }
        }

        @keyframes slide-left-out {
            0% {
                transform: translateX(100vw);
                opacity: 100;
            }
            20% {
                transform: translateX(0);
                opacity: 100;
            }
            80% {
                transform: translateX(0);
                opacity: 100;
            }
            100% {
                transform: translateX(-100vw);
                opacity: 0;
            }
        }

        .its-container {
            animation-name: slide-up;
            animation-timeline: scroll(root block);
            animation-range: 125vh 725vh;
            animation-duration: auto;
            animation-fill-mode: both;
        }

        .its-noun-container {
            animation-name: slide-left-out;
            animation-timeline: scroll(root block);
            animation-duration: auto;
            animation-fill-mode: both;
        }

        .its-section .first {
            animation-name: slide-left-out;
            animation-range: var(--animation-range-1);
        }

        .its-section .second {
            animation-name: slide-left-out;
            animation-range: var(--animation-range-2);
        }

        .its-section .third {
            animation-name: slide-left-out;
            animation-range: var(--animation-range-3);
        }

        .its-section .fourth {
            animation-name: slide-left-out;
            animation-range: var(--animation-range-4);
        }

        .its-section .fifth {
            animation-name: slide-left-out;
            animation-range: var(--animation-range-5);
        }

        .its-section .sixth {
            animation-name: slide-left-out;
            animation-range: var(--animation-range-6);
        }

        .citation-container {
            animation-name: slide-right-out;
            animation-timeline: scroll(root block);
            animation-duration: auto;
            animation-fill-mode: both;
        }

        .citation-section .first {
            animation-name: slide-right-out;
            animation-range: 25vh 125vh;
        }

        .citation-section .second {
            animation-name: slide-right-out;
            animation-range: var(--animation-range-1);
        }

        .citation-section .third {
            animation-name: slide-right-out;
            animation-range: var(--animation-range-2);
        }

        .citation-section .fourth {
            animation-name: slide-right-out;
            animation-range: var(--animation-range-3);
        }

        .citation-section .fifth {
            animation-name: slide-right-out;
            animation-range: var(--animation-range-4);
        }

        .citation-section .sixth {
            animation-name: slide-right-out;
            animation-range: var(--animation-range-5);
        }

        .citation-section .seventh {
            animation-name: slide-right-out;
            animation-range: var(--animation-range-6);
        }
    }
}

@layer fallback {
    /* This will only apply when scroll-driven animations are NOT supported */
    @supports not (animation-timeline: scroll()) {

        /* Hide scroll-timeline elements*/
        .header, .footer, .progress, .cta-container {
            display: none;
        }

        .fallback-home-container {
            height: var(--footer-height);
            width: var(--footer-height);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .fallback-footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: var(--footer-height);
            background: var(--color-primary);
            display: flex;
        }

        .fallback-header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 20;
            padding: calc(var(--spacing) * 4);
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: var(--font-size-header);
        }

        .fallback-cta-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: calc(var(--spacing) * 4);
        }

        .fallback-header-spacer {
            height: var(--height-header-sm);
            padding-bottom: 5rem;
        }

        /* Make sections flow normally */
        .quote-section,
        .its-section {
            position: relative;
            height: auto;
            margin-bottom: 4rem;
        }

        /* Remove spacers that were used for animation timing */
        .quote-spacer,
        .its-spacer,
        .header-spacer {
            display: none;
        }

        /* Style quote containers for normal flow */
        .opening-quote-container,
        .quote-container {
            position: relative;
            top: auto;
            left: auto;
            opacity: 1;
            margin: 0 auto;
            transform: none;
            display: block;
            width: var(--width-quote-container);
        }

        /* Style "It's" section for normal flow */
        .its-container {
            display: none;
        }

        /* Style "its-noun" containers for normal flow */
        .its-noun-container {
            display: none;
        }


        /* Style citation containers for normal flow */
        .citation-container {
            position: relative;
            width: var(--width-quote-container);
            left: auto;
            bottom: auto;
            margin: 1rem auto;
            transform: none;
            height: auto;
        }

        .fallback-its-container {
            position: relative;
            padding-left: var(--padding-left);
            border-top: 1px solid var(--color-secondary);

            h3 {
                font-size: var(--font-size-its);
            }
        }
    }
}